<h1> Kinetic Type Channel on vimeo! </h1>

{{#collection}}
<p>
Title: {{title}}
Description: {{{description}}}
</p>

<iframe src="//player.vimeo.com/video/{{id}}" width="600" height="460" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<hr>
{{/collection}}